<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>
        <section id="source_time" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Source Time Configuration</label>
            <tab>magenest</tab>
            <resource>Magenest_SourceTime::config</resource>
            
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Access Policy</label>
                
                <field id="duration_map" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Duration per Customer Group</label>
                    <frontend_model>Magenest\SourceTime\Block\Adminhtml\System\Config\Field\DurationTable</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>